$body-bg: peachpuff;
$body-color: deeppink;

$theme-colors: (
  "primary": deeppink,
  "success": hotpink,
  "danger": #ff4136
);

@import '~ngx-toastr/toastr';

@import "~bootstrap/scss/bootstrap";

@import '~ngx-toastr/toastr-bs4-alert';

:root {

}
