<div class="container">
  <div class="row mt-3">
    <div class="ml-3 d-flex justify-content-center align-items-center">
      <input type="checkbox" [(ngModel)]="showInfo" />
    </div>
    <div class="ml-3">
      <h3>Dine oplysninger:</h3>
    </div>
  </div>
  <div class="row" [hidden]="!showInfo">
    <div class="col-md-3">
      <label>Navn:</label>
      <input class="w-100" type="text" placeholder="Navn" [(ngModel)]="myName" />
    </div>
    <div class="col-md-2">
      <label>Vægt:</label>
      <input  class="w-100" type="number" placeholder="Vægt" [(ngModel)]="myWeight" />
    </div>
    <div class="col-md-2">
      <label for="genderCheck">Kvinde:</label>
      <input type="checkbox" name="genderCheck" [(ngModel)]="myGender" />
    </div>
    <div>
    </div>
    <div class="col-md-2">
      Party start: {{myStart | date : 'dd-MM-yy HH:mm:ss' }}
    </div>
    <div class="col-md-3">
      Promille: {{calculatePermille() | number}}
    </div>
  </div>
  <hr/>
  <div class="row mt-3">
    <div class="ml-3 d-flex justify-content-center align-items-center">
      <input type="checkbox" [(ngModel)]="showDrinkBox" />
    </div>
    <div class="ml-3">
      <h3>Tilføj Drink:</h3>
    </div>
  </div>
  <div class="row" [hidden]="!showDrinkBox">
    <div class="col-sm-9">
      <select [(ngModel)]="selectedDrink" class="w-100">
        <option *ngFor="let drink of drinks | sort : 'name' : false" [value]="drink?.name">{{drink?.name}} ({{drink?.amount | number}})</option>
      </select>
    </div>
    <div class="col-sm-3">
      <button class="btn-success" (click)="addDrink()">Drik ud!</button>
    </div>
  </div>
  <hr/>
  <div class="row mt-3">
    <div class="ml-3 d-flex justify-content-center align-items-center">
      <input type="checkbox" [(ngModel)]="showChatBox" />
    </div>
    <div class="ml-3">
      <h3>Skriv Besked:</h3>
    </div>
  </div>
  <div class="row" [hidden]="!showChatBox">
    <div class="col-sm-9">
      <input type="text" class="write_msg w-100" [value]="txtMessage"
      (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />
    </div>
    <div class="col-sm-3">
      <button class="msg_send_btn btn-success" type="button"  (click)="sendMessage()">Send Besked</button>
    </div>
  </div>
  <hr/>
  <h3 class="chat_header">Alcohol Chat</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let msg of messages">
          <!-- {{msg | json}} -->
          <div class="incoming_msg" *ngIf="msg.type == 'received'">
            <div class="incoming_msg_img"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>
                 {{msg.message}}
                </p>
                <span class="time_date"> {{msg.date | date : 'dd-MM-yy HH:mm:ss'}} </span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg" *ngIf="msg.type == 'sent'">
            <div class="sent_msg">
              <p>
                  {{msg.message}}
              </p>
              <span class="time_date"> {{msg.date | date : 'dd-MM-yy HH:mm:ss'}}</span>
            </div>
          </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<!--
  Dashboard
    - Overview of Party Rooms.
    - Add Party Room.
    - Navigation to Party Room.
    - Alcohol Stats.
  Party Room:
    - Chat with friends
    -
  Bar Cabinet.

  Drunken Buddies.
  Playlist
    - Upload songs
    - Share song with
-->
